* {
	padding: 0;
	margin: 0;
}

canvas {
	padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background: #eee;
	border: 5px solid black;
	cursor: none;
}

h1.title {
	text-align: center;
	font-family: 'Baloo', sans-serif;
}

h3.seconds {
	text-align: center;
	font-family: 'Baloo', sans-serif;
}

button.resetHighscore {
	height: 30px;
	width: 120px;
	background-color: #eee;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-color: #eee;
	position: fixed;
	right: 25px;
	top: 25px;
	font-family: 'Baloo', sans-serif;
}

button.helpBtn {
	height: 30px;
	width: 120px;
	background-color: #eee;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-color: #eee;
	position: fixed;
	right: 145px;
	top: 25px;
	font-family: 'Baloo', sans-serif;
}

